.bg-login-image {
    background: url(https://source.unsplash.com/K4mSJ7kc0As/600x800);
    background-position: center;
    background-size: cover;
}
.bg-login {
    background: url(https://i.pinimg.com/originals/fe/82/10/fe8210c2be7285171738ea3be1da799e.jpg);
    background-position: center;
    background-size: cover;
     
}
.bg-primary{
    background-color: #EE5A24!important;
}
.xxx{
    background-color: #EE5A24!important;
    color: #fff;

}
 


